{% extends 'base.html' %}
{% block title%}
Restaurante Nuevo 
{%endblock%}
{% block scripts%}
<script>
	$(document).ready(function(){
    $("#restSucces").click(function(){
        alert( "!Restaurante aniadido con exito!" );
        
    });
});
</script>
{%endblock%}


{% block content%}		
		
<div id="body" class="container-fluid"  style="text-align:center;">
	<legend>Restaurante Nuevo</legend>
    <form action="{%url 'add_rest'%}"  method="POST">
		{% csrf_token %}
		{{ bootstrap_form }}
		<div class="form-group row" style="text-align:center;">
		<div class="col-md-offset-5 col-md-3" style="border-radius: 4px;">{{restform.nombre}}</div>
		<div class="col-md-offset-5 col-md-3" style="border-radius: 4px;">{{restform.cuisine}}</div>
		<div class="col-md-offset-5 col-md-3" style="border-radius: 4px;">{{restform.borough}}</div>
		<div class="col-md-offset-5 col-md-3" style="border-radius: 4px;">{{restform.street}}</div>
		<div class="col-md-offset-5 col-md-3" style="border-radius: 4px;">{{restform.building}}</div>
		<div class="col-md-offset-5 col-md-3" style="border-radius: 4px;">{{restform.zipcode}}</div>
			</div>
			
		<input id="restSucces" class="col-md-offset-1 btn btn-primary" type="submit" id="submit" value="Enviar datos">
                <input class="btn btn-primary" type="reset" id="reset" value="Reiniciar formulario">
                <!--<fieldset>
                <legend>Restaurante Nuevo</legend>
				
				label for="name">Nombre:</label>
                <input type="text" id="name" name="nombre"/><br/>
                
				<label for="cuisine">Tipo de cocina:</label>
                <input type = "text" id = "cuisine" name="cuisine"  /><br/>
                
				<label for="Borough">Barrio:</label>
                <input type = "text" id = "borough" name="borough"  /> <br/>
				 
				<label for="restaurant_id">Id del restaurante:</label>
                <input type="text" id="restaurant_id"name="restaurant_id"/>
                <br/>
                <legend>Direccion</legend>
                <label for="building">building:</label>
                <input type="text" id="building" name="building"/><br/>
                
				<label for="street">Street:</label>
                <input type="text" id="street" name="street"/><br/>
                
				<label for="zipcode">Codigo Postal:</label>
                <input type="text" id="zipcode" name="zipcode"/><br/>
				
						
				<input id="restSucces" type="submit" id="submit" value="Enviar datos">
                <input type="reset" id="reset" value="Reiniciar formulario">
                    </fieldset>-->
            </form>
  </div>
		

{%endblock%}

